* {
    box-sizing: border-box;
}

body {
    max-width: 830px;
    margin: 0px auto;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    background-color: #ebebeb;
    color: #1f2937;
}

nav {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    margin-bottom: 2rem;
}

.navbar img {
    max-width: 30px;
    height: 30px;
    width: 100%;
}

section {
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
    margin: 30px 0 0 0;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

p,
ul,
ol {
    margin: 8px 0;
    padding: 0;
    line-height: 30px;
}

ul {
    padding-left: 25px;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #701a75;
    font-size: 16px;
    transition: all 0.3s ease;
}

a em {
    display: block;
    color: black;
}

a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.quick_links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

code {
    background: #e8e8e8;
    font-style: italic;
    padding: 0 8px;
    border-radius: 4px;
}

.page {
    margin: 2.5rem 0;
}

.links {
    display: flex;
    gap: 23px;
    text-transform: uppercase;
}

.each-post-page img {
    width: 100%;
}

.each-post-page p {
    margin: 28px 0;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
}

.posts li {
    border-bottom: 1px solid;
    border-top: 1px solid;
    list-style: none;
    margin: 0;
    border-collapse: collapse;
}

.posts li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
}

.posts li h4 {
    margin: 0;
    line-height: 20px;
    text-transform: none;
    font-weight: normal;
}

.posts li p {
    margin: 0;
}

.posts li a p {
    color: #6b7280;
}

.footer {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    border-top: 1px solid #1c1c1c;
    padding: 50px 0;
    margin-top: 100px;
}

.footer img {
    max-width: 30px;
    width: 100%;
}

.recent_project_section ul,
.recent_post_section ul {
    margin-bottom: 25px;
}

.recent_project_section ul,
.projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    padding: 0;
}

.recent_project_section li,
.projects li {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 242px;
    padding: 12px;
    border: 1px solid;
}

.recent_project_section a,
.projects a {
    font-size: 1rem;
    margin-top: 4px;
}

.recent_project_section img,
.projects img {
    max-width: 100%;
}

.recent_project_section p,
.projects p {
    margin: 2px 0;
    font-size: 14px;
    line-height: 19px
}

.btn {
    border-radius: 0px;
    transition: all 0.3s ease;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #6b7280;
    color: white;
    padding: 8px 33px;
    margin: 35px 0px;
}

@media screen and (max-width: 762px) {
    nav {
        justify-content: start;
    }

    .footer {
        justify-content: start;
    }

    body {
        padding: 1rem;
    }

    .content h1 {
        font-size: 24px;
    }

    h1 {
        font-size: 2rem;
    }

    .recent_project_section li,
    .projects li {
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    nav {
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .footer {
        grid-template-columns: auto;
        gap: 1.5rem;
    }
}
