* {
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: 0px auto;
  padding: 2rem;
  font-family: 'Poppins', sans-serif; }

nav {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 30px;
  font-weight: bold; }

a {
  text-decoration: none;
  font-size: 16px; }

ul {
  padding: 0; }

code {
  background: #e8e8e8;
  font-style: italic;
  padding: 0 8px;
  border-radius: 4px; }

.links {
  display: flex;
  gap: 23px; }

.btn {
  padding: 12px 28px;
  background-color: #1c1c1c;
  color: white;
  border-radius: 0px;
  transition: all 0.3s ease;
  margin-top: 20px; }
  .btn:hover {
    background-color: lightblue;
    color: #1c1c1c; }

.navbar img {
  max-width: 30px;
  height: 30px;
  width: 100%; }

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 30px;
  font-weight: bold;
  border-top: 1px solid #1c1c1c;
  padding: 50px 0;
  margin-top: 100px; }
  .footer img {
    max-width: 30px;
    width: 100%; }

.hero {
  padding: 80px 0px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 34px;
  align-items: center; }
  .hero__content {
    max-width: 700px;
    width: 100%; }
    .hero__content h1 {
      font-size: 2rem;
      margin-top: 0rem; }
    .hero__content p {
      font-size: 18px; }
    .hero__content .tech span {
      font-weight: bold; }
  .hero__img-container {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start; }
    .hero__img-container img {
      height: 100px;
      width: 100px;
      border-radius: 0px;
      border: 1px solid #1c1c1c; }

.recent_post_section {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .recent_post_section .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0px;
    margin-top: 0rem;
    max-width: 700px;
    width: 100%; }
    .recent_post_section .posts p {
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
      margin: 0rem; }
    .recent_post_section .posts a {
      border: 1px solid #1c1c1c;
      padding: 21px;
      border-radius: 0px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      background-color: #f4f4f4;
      color: #1c1c1c;
      transition: all 0.2s ease;
      font-weight: bold; }
      .recent_post_section .posts a:hover {
        transform: translate(2px, 1px); }
      .recent_post_section .posts a em {
        font-weight: normal; }
        .recent_post_section .posts a em:last-of-type {
          color: dodgerblue;
          font-size: 12px; }

.recent_project_section {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .recent_project_section .projects {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center; }

.each_project {
  max-width: 450px;
  width: 100%;
  padding: 14px;
  border: 3px solid #555555;
  border-radius: 0px;
  color: #1c1c1c;
  transition: all 0.3s ease; }
  .each_project:hover {
    transform: rotate(1deg); }
  .each_project img {
    max-width: 100%;
    object-fit: cover; }

.posts-page,
.each-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  gap: 20px; }

.posts-page p,
.each-post-page p {
  list-style: none;
  max-width: 620px;
  width: 100%;
  font-size: 18px;
  line-height: 32px; }

.each-post-page h1 {
  max-width: 620px;
  font-size: 2rem; }

.each-post-page img {
  width: 100%; }

.posts-page p {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  margin: 0rem; }

.posts-page a {
  border: 1px solid #1c1c1c;
  padding: 21px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  background-color: #f4f4f4;
  color: #1c1c1c;
  transition: all 0.2s ease;
  font-weight: bold; }
  .posts-page a:hover {
    transform: translate(2px, 1px); }

.posts-page em {
  font-weight: normal;
  font-decoration: none; }
  .posts-page em:last-of-type {
    color: dodgerblue;
    font-size: 12px; }

@media screen and (max-width: 900px) {
  .recent_project_section .projects {
    grid-template-columns: auto auto; } }

@media screen and (max-width: 762px) {
  nav {
    justify-content: start; }
  .footer {
    justify-content: start; }
  body {
    padding: 1rem; }
  .content h1 {
    font-size: 24px; }
  .recent_project_section .projects {
    grid-template-columns: auto; } }

@media screen and (max-width: 550px) {
  nav {
    grid-template-columns: auto; }
  .footer {
    grid-template-columns: auto; } }
