* {
    box-sizing: border-box;
}

body {
    max-width: 870px;
    margin: 0px auto;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}

nav {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    margin: 30px 0 0 0;
}

h1 {
    font-size: 2rem;
}

p,
ul,
ol {
    margin: 8px 0;
    padding: 0;
    line-height: 30px;
}

ul {
    padding-left: 25px;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

code {
    background: #e8e8e8;
    font-style: italic;
    padding: 0 8px;
    border-radius: 4px;
}

.page {
    margin: 3.5rem 0;
}

.links {
    display: flex;
    gap: 23px;
}

.btn {
    padding: 12px 28px;
    background-color: #1c1c1c;
    color: white;
    border-radius: 0px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: fit-content;

    &:hover {
        background-color: lightblue;
        color: #1c1c1c;
    }
}

.navbar img {
    max-width: 30px;
    height: 30px;
    width: 100%;
}

.footer {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    font-weight: bold;
    border-top: 1px solid #1c1c1c;
    padding: 50px 0;
    margin-top: 100px;

    img {
        max-width: 30px;
        width: 100%;
    }
}
