.hero {
    display: flex;
    border-radius: 1rem;
    gap: 30px;
    flex-direction: column;
    padding: 3rem 0rem;

    h1 {
        font-size: 4rem;
        font-weight: 200;
        line-height: 120%;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 20px;
    }


    .hero_form {
        background-color: var(--accent_light);
        padding: 3rem;
        width: fit-content;
        border-radius: 8px;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 8px;
                width: fit-content;
                border-radius: 8px;
                font-size: 18px;
                border: 2px solid var(--primary);
            }
        }

        .field {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 762px) {
    .hero {
        align-items: start;
        text-align: left;
        justify-content: start;

        h1 {
            font-size: var(--text3);
            font-weight: bold;
        }
    }
}
