.hero__content {
    display: flex;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    flex-direction: column;
    padding: 6rem 2rem;

    h1 {
        font-size: 4rem;
        font-weight: 200;
        line-height: 120%;
        margin: 0;
    }

    .btn-primary {
        margin-top: 22px;
    }
}


.recent_projects {
    display: flex;
    flex-direction: column;
    gap: var(--space6);
    list-style: none;
    padding: 0px;

    .project_box {
        display: block;
        background-color: var(--card_bg);
        padding: var(--space3);
        border-radius: var(--space3);
        height: 300px;
        width: 100%;

        &.main_project {
            background-color: var(--primary);
        }

        .content_container {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: space-between;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            padding: var(--space3);
            border-radius: var(--space2);
        }

        h5 {
            color: white;
            font-size: 1.2rem;
        }

        p {
            color: white;
        }

        .tags {
            display: flex;
            justify-content: end;
            gap: 12px;

            p {
                color: var(--text-light);
                border-radius: 50px;
                border: 1px solid var(--text-light);
                padding: 0px 22px;
            }
        }
    }
}

.about_me {
    background-color: var(--primary);
    border-radius: 12px;
    padding: var(--space5);
    color: #dcdafa;

    img {
        border-radius: 12px;
        overflow: hidden;
    }

    .about_me__container {
        display: flex;
        gap: var(--space5);

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--space3);
        }
    }


    p {
        font-size: var(--text2);
        line-height: 160%;
    }
}

.recent_post_section {
    display: flex;
    gap: var(--space5);
    flex-direction: column;

    .post_box {
        text-align: left;
        border: 1px solid #a8aaad;
        border-radius: 12px;
        padding: 12px 24px;
        background-color: var(--card_bg);
        color: var(--text);
    }
}


@media screen and (max-width: 762px) {
    .hero__content {
        align-items: start;
        text-align: left;
        justify-content: start;

        h1 {
            font-size: var(--text2);
            font-weight: bold;
        }
    }

    .about_me__container {
        flex-direction: column;

        img {
            width: 100%;
        }

        p {
            font-size: var(--text1);
            line-height: 150%;
        }
    }
}
