@import "globals";

.hero {
    padding: 80px 0px 0px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 34px;
    align-items: center;

    &__content {
        // max-width: 700px;
        width: 100%;

        h1 {
            font-size: 2rem;
            margin-top: 0rem;
        }

        p {
            font-size: 18px;
        }

        .tech span {
            font-weight: bold;
        }
    }

    &__img-container {
        // max-width: 700px;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;

        img {
            height: 100px;
            width: 100px;
            border-radius: 0px;
            border: 1px solid #1c1c1c;
        }
    }
}

.recent_post_section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .posts {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 1rem;
        width: 100%;

        a {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin-bottom: 0px;
            transition: all 0.3s ease;

            &:hover {
                color: dodgerblue;
            }

            em {
                font-weight: normal;
                color: black;
                font-size: 14px;
            }
        }
    }
}

.project_page {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;

    ul {
        padding: 0.5rem 0;
        padding-bottom: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        a,
        p {
            font-size: 18px;
            margin: 0;
        }
    }

}

.recent_project_section {
    margin: 4.5rem 0px;

    ul {
        padding: 0.5rem 0;
        padding-bottom: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        a,
        p {
            font-size: 18px;
            margin: 0;
        }
    }
}

.posts-page {
    margin: 90px 0px;
}

.each-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0px;
    gap: 30px;
}

.posts-page p,
.each-post-page p {
    list-style: none;
    // max-width: 620px;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    margin: 30px 0;
}

.each-post-page {
    h1 {
        font-size: 2rem;
    }

    img {
        width: 100%;
    }
}

.posts-page {
    p {
        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
        margin: 0rem;
    }

    a {
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        color: #1c1c1c;
        transition: all 0.2s ease;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0;

        &:hover {
            transform: translate(2px, 1px);
        }
    }

    em {
        font-weight: normal;
        font-size: 16px;

        &:last-of-type {
            color: dodgerblue;
            font-size: 12px;
        }
    }
}



@media screen and (max-width: 762px) {
    nav {
        justify-content: start;
    }

    .footer {
        justify-content: start;
    }

    body {
        padding: 1rem;
    }

    .content h1 {
        font-size: 24px;
    }

}

@media screen and (max-width: 550px) {
    nav {
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .footer {
        grid-template-columns: auto;
        gap: 1.5rem;
    }
}
