* {
    box-sizing: border-box;
}

body {
    max-width: 870px;
    margin: 0px auto;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    background-color: #ebebeb;
}

nav {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    margin-bottom: 2rem;
}

.navbar img {
    max-width: 30px;
    height: 30px;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 30px 0 0 0;
}

h1 {
    font-size: 2rem;
}

p,
ul,
ol {
    margin: 8px 0;
    padding: 0;
    line-height: 30px;
}

ul {
    padding-left: 25px;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: darkblue;
    font-size: 16px;
    transition: all 0.3s ease;
}

a {
    em {
        display: block;
        color: black;
    }
}

a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background: #e8e8e8;
    font-style: italic;
    padding: 0 8px;
    border-radius: 4px;
}

.page {
    margin: 2.5rem 0;
}

.links {
    display: flex;
    gap: 23px;
}

.btn {
    border-radius: 0px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width: fit-content;
    font-size: 1.2rem;
    text-decoration: underline;
    color: black;
}

.each-post-page {
    img {
        width: 100%;
    }

    p {
        margin: 28px 0;
    }
}


.footer {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 70px;
    border-top: 1px solid #1c1c1c;
    padding: 50px 0;
    margin-top: 100px;

    img {
        max-width: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 762px) {
    nav {
        justify-content: start;
    }

    .footer {
        justify-content: start;
    }

    body {
        padding: 1rem;
    }

    .content h1 {
        font-size: 24px;
    }

}

@media screen and (max-width: 550px) {
    nav {
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .footer {
        grid-template-columns: auto;
        gap: 1.5rem;
    }
}
